<div id="inicio" class="index">
    <h2 class="mx-auto">MISIÓN</h2>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores, consectetur nam. Accusantium tempora
        illo perferendis ad quasi iusto sequi maxime minus! Odio similique quam aliquid at iusto natus, dolores
        ducimus.
        Illo quae fugiat explicabo sint sapiente, quaerat, soluta et consequuntur maiores quas totam fugit libero
        error quos accusantium perspiciatis amet iusto non blanditiis recusandae, facere quisquam doloribus deleniti
        aliquam! Mollitia.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis similique sed deleniti, consectetur
        obcaecati deserunt sint consequatur nesciunt vel ipsum atque qui neque eligendi, natus, inventore facere
        sunt accusantium. Aut.
        Eum quisquam rerum quibusdam minus tempora accusamus ad esse molestias iste illo dolorum quidem similique,
        quam sit est libero praesentium ducimus quasi, odit nostrum excepturi et consequatur sapiente? Blanditiis,
        dolorum.
        Quaerat labore similique cumque unde repellendus fuga ducimus? Repellat fuga tempora minima, modi quod dicta
        voluptates eaque optio autem reiciendis sunt culpa, corrupti ducimus nihil praesentium! Omnis similique sunt
        iusto!
    </p>

    <h2 class="mx-auto">VISIÓN</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ullam nam quo voluptas. Magni eligendi a
        consequatur magnam! Assumenda iusto dolore nihil autem expedita quam, veritatis quisquam incidunt beatae
        aperiam.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dolorum quasi consequuntur inventore? Modi
        quas nesciunt aliquam, quisquam sed voluptatibus dolorem tempora magni cum eveniet ratione, commodi
        repudiandae iusto? Maiores?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis assumenda beatae blanditiis eum sed
        optio molestiae quo, magni, alias maiores sunt iusto illo soluta facere excepturi cum? Suscipit, aliquid
        magnam.
        Earum, minima. Reiciendis consequatur voluptatum cum eaque, nihil quisquam, officiis aliquam atque totam
        vel, possimus magnam! Rem debitis facilis nam vero dignissimos officia similique voluptas? Iure nesciunt nam
        dicta debitis.
    </p>

    <h2 class="mx-auto">RAZÓN SOCIAL</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero ad officiis quam exercitationem minima
        tempora quidem, non distinctio illum cum sed delectus esse, maxime, saepe aliquam laborum quis maiores
        nobis!
        Suscipit, pariatur. Temporibus hic tempore iusto nesciunt reiciendis ut ullam, aliquam commodi, sint
        laudantium eius inventore impedit maxime quas vitae asperiores! Facere quas labore esse eligendi ipsam
        maiores, cum ad.
        Minus illo aliquid iusto commodi officia labore saepe numquam voluptas optio omnis cupiditate perferendis,
        animi voluptates a vel neque quia maxime quos molestias doloribus similique sed! Perspiciatis quaerat ad
        quas.
   
    </p>
</div>