<div class="testimonio">
    <h2 class="mt-3">NUESTROS TESTIMONIOS</h2>
    <br>
    <h4 class="mt-2">TESTIMONIO 1</h4>
    <youtube-player videoId="QcywpK5Heeg" suggestedQuality="highres" [height]="250" [width]="500"
        [startSeconds]="4" [endSeconds]="8" class="ratio ratio-16x9  w-75">
    </youtube-player>
    <br>
    <h4 class="mt-2">TESTIMONIO 2</h4>
    <youtube-player videoId="dpCm3nV-TuU" suggestedQuality="highres" [height]="250" [width]="500"
        [startSeconds]="4" [endSeconds]="8" class="ratio ratio-16x9 w-75">
    </youtube-player>
</div>