<div class="accordion" id="accordionExample">
    <div class="accordion-item col-10 mt-2 me-2">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                EL "EASY EASY" DEL DIBU MARTINEZ
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                No le perdonan nada al arquero argentino Dibu Martínez. No en Colombia. La cuenta de cobro se la hacen
                desde México, Brasil, Inglaterra. Le recuerdan un “easy, easy”.
                <br>
                Ese “fácil, fácil”, es parte de un video que el propio arquero de Argentina hizo el día del sorteo,
                cuando se conoció la conformación de los grupos para Catar 2022. La albiceleste, en teoría, estaba en
                una zona accesible, dado su historial, pergaminos y demás.
            </div>
        </div>
    </div>

    <div class="accordion-item col-10 mt-3 me-2">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="false" aria-controls="collapseOne">
                EL MUNDIAL MÁS INSOLITO ARRANCA!!
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                En medio del desierto, rodeado de arena y de la nada, se ha levantado el estadio Al Bayt, el recinto que
                ha dado forma a la ceremonia de inauguración del Mundial más atípico de la historia del fútbol, el que
                se disputa en noviembre y diciembre y que se ha gestado entre polémicas, denuncias y gestos que el
                tiempo dirán si son cara a la galería o con un efecto democrático y humano.
                <br>
                El mensaje de todo lo programado no fue otro que el respeto y la unidad, algo en lo que una y otra lleva
                insistiendo Gianni Infantino en los últimos meses y que en la mañana del sábado reiteró en la rueda de
                prensa de apertura del Mundial. Ya saben aquello de "me siento árabe, gay, mujer..."
            </div>
        </div>
    </div>

    <div class="accordion-item col-10 mt-3 me-2">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="false" aria-controls="collapseOne">
                EL MUNDIAL DE LOS BATACAZOS
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Ya van 4 días de competencia del Mundial de Qatar 2022, el torneo de selecciones más importante del
                planeta. Es común que en grupos laborales o familiares se realice el tradicional prode, un sistema de
                apuestas que consiste en pronosticar el resultado de todos los partidos de cada equipo en la
                competencia.
                <br>
                Pero claro, una vez que comienza a rodar la pelota, las estadísticas pasan a un segundo plano y se
                pueden ver alteradas por resultados totalmente inesperados. La belleza de este deporte.
            </div>
        </div>
    </div>

</div>