<div id="aside" class="flex-container">
    <div class="row">
        <h2>NUESTROS SERVICIOS</h2>
        <div class="card" style="width: 18rem;">
            <img src="./assets/img/loteria.jpg" class="card-img-top img-thumbnail" alt="...">
            <div class="card-body">
              <h5 class="card-title">LOTERÍAS Y SORTEOS</h5>
              <p class="card-text">Consulta los resultados de todos los premios de azar y descubre si tu boleto ha resultado premiado.</p>
              <a href="/Servicios" class="btn btn-primary d-grid gap-2 fst-italic">VAMOS!!</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="../assets/img/clima.jpg" class="card-img-top img-thumbnail" alt="...">
            <div class="card-body">
              <h5 class="card-title">EL TIEMPO</h5>
              <p class="card-text">Consulta toda la información meteorológica de Colombia y algunos otros países.</p>
              <a href="/Servicios" class="btn btn-primary d-grid gap-2 fst-italic">VAMOS!!</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="./assets/img/cartelera.jpg" class="card-img-top img-thumbnail" alt="...">
            <div class="card-body">
              <h5 class="card-title">CARTELERA DE CINE</h5>
              <p class="card-text">Conoce los estrenos de la semana y los horarios de las sesiones de todos los cines catalanes.</p>
              <a href="/Servicios" class="btn btn-primary d-grid gap-2 fst-italic">VAMOS!!</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="./assets/img/Hemeroteca.jpg" class="card-img-top img-thumbnail" alt="...">
            <div class="card-body">
              <h5 class="card-title">HEMEROTECA</h5>
              <p class="card-text">Consulta el archivo completo de El Periódico desde su creación de forma totalmente gratuita.</p>
              <a href="/Servicios" class="btn btn-primary d-grid gap-2 fst-italic">VAMOS!!</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="./assets/img/trafico.jpg" class="card-img-top img-thumbnail" alt="...">
            <div class="card-body">
              <h5 class="card-title">EL TRÁFICO EN MEDELLÍN</h5>
              <p class="card-text">Consulta el estado del tráfico ahora en Medellín, actualizado al minuto calle a calle.</p>
              <a href="/Servicios" class="btn btn-primary d-grid gap-2 fst-italic">VAMOS!!</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="./assets/img/deportiva.jpg" class="card-img-top img-thumbnail" alt="...">
            <div class="card-body">
              <h5 class="card-title">PRIMICIAS DEPORTIVAS</h5>
              <p class="card-text">Consulta el estado del mercado de jugadores ahora en Colombia y el mundo, actualizado al minuto calle a calle.</p>
              <a href="/Servicios" class="btn btn-primary d-grid gap-2 fst-italic">VAMOS!!</a>
            </div>
          </div>
      </div>
</div>
