<div id="form" class="flex-container">
    <h2 class="mx-auto mt-3">FORMULARIO DE CONTACTO</h2>

        <!-- <div class="card d-grid gap-2 col-6 mx-auto" style="width: 70%;"> -->
            <div class="input-group mb-3 mt-3 w-75 me-3">
                <span class="input-group-text" id="basic-addon1">
                    <i class='bx bxs-id-card'></i>
                </span>
                <input type="text" class="form-control" placeholder="Identificación" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3 w-75 me-3">
                <span class="input-group-text" id="basic-addon1">
                    <i class='bx bxs-user'></i>
                </span>
                <input type="text" class="form-control" placeholder="Nombres" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3 w-75 me-3">
                <span class="input-group-text" id="basic-addon1">
                    <i class='bx bxs-user'></i>
                </span>
                <input type="text" class="form-control" placeholder="Apellidos" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3 w-75 me-3">
                <span class="input-group-text" id="basic-addon1">
                    <i class='bx bxs-map'></i>
                </span>
                <input type="text" class="form-control" placeholder="Dirección" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3 w-75 me-3">
                <span class="input-group-text" id="basic-addon1">
                    <i class='bx bxs-phone'></i>
                </span>
                <input type="text" class="form-control" placeholder="Telefono" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3 w-75 me-3">
                <span class="input-group-text" id="basic-addon1">
                    <i class='bx bxs-envelope'></i>
                </span>
                <input type="text" class="form-control" placeholder="Correo Electronico" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3 w-75 me-3">
                <span class="input-group-text">Comentarios</span>
                <textarea class="form-control" aria-label="With textarea"></textarea>
            </div>

            <button type="button" class="btn btn-success mb-3 me-3 col-6" data-bs-toggle="popover" title="FUNCIONALIDAD"
                data-bs-placement="left" data-bs-content="Al dar clic se enviarían los datos">ENVIAR DATOS !!
            </button>

        <!-- </div> -->



    <h2 class="mx-auto mt-5">NUESTRA UBICACIÓN</h2>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1982.9782056265637!2d-75.5648871619354!3d6.269463091733526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sco!4v1669494521340!5m2!1ses!2sco"
        height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
        class="map mx-auto mt-2 mb-2">
    </iframe>
</div>