<div id="somos" class="somos">
    <h2 class="mx-auto">NUESTROS COMIENZOS</h2>
    <p>
        En el origen, se entendía por diario un registro de los eventos o sucesos más importantes en la vida de una
        persona (diario íntimo), o un registro de incidentes y novedades (diario de a bordo o cuaderno de bitácora), por
        ejemplo, el oportunamente escrito por Cristóbal Colón en su primer viaje a América)​. Y uno de los ejemplos más
        representativos y antiguos es el Journal d'un bourgeois de Paris (Diario de un burgués de París)​ en su
        momento llevado por un parisino entre 1405 y 1431, y luego continuado por otro hasta 1449.
        <br>
        Los primeros periódicos de actualidades (escritos) también se presentaron en forma cronológica, aunque pronto se
        evolucionó hacia una forma más sintética y práctica, clasificando los sucesos por temas y rúbricas.
        Precisamente de esta mejorada forma de presentación y ordenamiento es que surge el concepto de periódico en su
        acepción más moderna, como soporte en papel conteniendo informaciones y datos correspondientes a un cierto
        período, y sustituyendo así a los términos gaceta y gacetilla en una parte de los usos
    </p>

    <h2 class="mx-auto">ANTECEDENTES</h2>
    <p>
        Los periódicos suelen publicarse a diario o semanalmente. Las «revistas de noticias» también son semanales, pero
        tienen un formato de revista. Los periódicos de interés general suelen publicar artículos de noticias y
        artículos de fondo sobre noticias nacionales e internacionales, así como noticias locales. Las noticias incluyen
        acontecimientos y personalidades políticas, negocios y finanzas, crimen, clima y desastres naturales; salud y
        medicina, ciencia, e informática y tecnología, deportes y entretenimiento, sociedad, comida y cocina, ropa y
        moda del hogar, y artes.
        <br>
        Normalmente, el periódico se divide en secciones para cada uno de esos grupos principales (etiquetadas como A,
        B, C, etc., con prefijos de paginación que dan lugar a los números de página A1-A20, B1-B20, C1-C20, etc.). La
        mayoría de los periódicos tradicionales cuentan también con una página editorial que contiene editoriales
        escritos por un editor (o por el consejo editorial del periódico) y que expresan una opinión sobre un tema
        público, artículos de opinión llamados "op-eds" escritos por escritores invitados (que suelen estar en la misma
        sección que el editorial), y columnas que expresan las opiniones personales de los columnistas, y que suelen
        ofrecer análisis y síntesis que intentan traducir los datos brutos de las noticias en información que diga al
        lector "lo que significa todo" y le persuada a coincidir. Los periódicos también incluyen artículos que no
        tienen titular; estos artículos están escritos por redactores de plantilla.
    </p>
    <br>
    <h2 class="mx-auto">GALERIA</h2>
    <div class="imagenes mt-3 col-md-12">
        <img src="../assets/img/periodico.jpg" class="img-thumbnail mb-3 col-9" alt="...">
        <img src="../assets/img/periodico1.jpg" class="img-thumbnail mb-3 col-9" alt="...">
        <img src="../assets/img/periodico2.jpg" class="img-thumbnail mb-3 col-9" alt="...">
    </div>
</div>